# Data Science And Tools Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- Demonstrate basic arithmetic operations in Python.

Some of the popular languages that Data Scientists use are:

1. **Python**
2. **R**
3. **SQL**

Some of the commonly used libraries used by Data Scientists include:

1. **NumPy**
2. **pandas**
3. **matplotlib**

# Data Science Tools

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| VS Code with Python plugin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
hours

3.3333333333333335

## Author
Rohit Karthik